.ttg-button {
  width: 100%;
  padding: 14px 24px 14px 20px;
  gap: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;

  color: var(--ttg-color-text-white);
  text-align: center;
  font-family: var(--ttg-font-family);
  font-size: var(--ttg-text-size-m);
  font-weight: var(--ttg-font-weight-medium);
  line-height: var(--ttg-text-line-height-m);
  letter-spacing: -0.32px;
}

.ttg-button--primary {
  background: var(--ttg-color-bg-blue-base);
}

.ttg-button--primary:hover {
  background: var(--ttg-color-bg-blue-dark);
}

.ttg-button--primary:active {
  background: var(--ttg-color-bg-blue-darker);
  outline: none;
}

.ttg-button--primary:disabled {
  background: var(--ttg-color-bg-gray-100);
  cursor: not-allowed;
}

/* Secondary Button */
.ttg-button--secondary {
  border: 1px dashed var(--ttg-color-bg-blue-base);
  background: var(--ttg-color-bg-blue-lighter);
  color: var(--ttg-color-text-blue-base);
  display: flex;
  align-items: center;
  justify-content: center;
}

.ttg-button--secondary:hover {
  border: 1px dashed var(--ttg-color-bg-blue-base);
  background: #d7e9fe;
}

.ttg-button--secondary:active {
  border: 1px dashed var(--ttg-color-bg-blue-base);
  background: linear-gradient(0deg, #d7e9fe 0%, #d7e9fe 100%), #fff;
  outline: none;
}

.ttg-button--secondary:disabled {
  border: 1px dashed var(--ttg-color-bg-gray-300);
  background: var(--ttg-color-bg-gray-100);
  color: var(--ttg-color-text-gray-500);
  cursor: not-allowed;
}

/* Tertiary Button */
.ttg-button--tertiary {
  background: var(--ttg-color-bg-black);
  color: var(--ttg-color-text-white);
}

.ttg-button--tertiary:hover {
  background: var(--ttg-color-bg-gray-900);
}

.ttg-button--tertiary:active {
  background: var(--ttg-color-bg-gray-900);
  outline: none;
}

.ttg-button--tertiary:disabled {
  background: var(--ttg-color-bg-gray-100);
  color: var(--ttg-color-text-gray-500);
  cursor: not-allowed;
}
